[package]
name = "data-layer"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.100"
core-types = { path = "../core-types" }
rusqlite = { version = "0.37.0", features = ["bundled"] }
arrow = "57.0.0"
parquet = "57.0.0"
