# Rust
/target
**/target
Cargo.lock

# Python
__pycache__/
*.pyc
.venv/
.env

# Test & Temp Data (local dev only)
/test/
*.test.*
test_data/

*.gguf
*.llamafile
*.bin
*.tflite
*.onnx
*.ckpt
*.pth
*.pt
*.npz
*.npy
*.csv
*.edf
*.log
*.sqlite
*.db
*.parquet
*.ps1

# Editors/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Personal notes
/notes/